.chatroom {
    color: #ffff00;
    
    >.main-container {
        display: flex;
        height: calc(100vh - var(--header-height));

        >.left-bar {
            padding: 0;
            margin: 0;
            border-right: 1px solid #ffff00;
            width: 180px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            >.title {
                padding: 15px;
                border-bottom: 1px solid #ffff00;
                margin-bottom: 15px;
            }

            >.users {
                list-style-type: none;
                flex-grow: 1;
                margin: 0;
                padding: 0;

                >.user {
                    padding: 0px 15px;
                    height: 25px;
                    line-height: 25px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }
            }

            >.leave {
                border-top: 1px solid #ffff00;
                padding: 15px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;

                >button {
                    width: 145px;
                }
            }
        }

        >.chat {
            width: 100%;
            display: flex;
            flex-direction: column;
            ::-webkit-scrollbar { width: 4px; }
            ::-webkit-scrollbar-track { background: #000000; }
            ::-webkit-scrollbar-thumb { background: #ffff00; } 

            >.texts {
                flex-grow: 1;
                //display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 10px 20px;
                overflow-y: scroll;
                height: calc(100% - 70px);
                

                >.text {
                    margin: 5px 0px;
                    padding-left: 30px;
                    text-indent: -30px;
                }
            }

            >.input {
                height: 70px;
                border-top: 1px solid #ffff00;
                padding: 15px 20px;
                display: flex;
                line-height: 40px;

                >input {
                    margin-left: 15px;
                    flex: 1;
                }
            }
        }
    }
}