.awesome-button {
    height: 40px;
    background: #000000;
    color: #ffff00;
    border: 1px solid #ffff00;
    font-size: 15px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 25px;

    &:hover {
        background: #ffff00;
        color: #000000;
    }

    &:focus {
        outline: 0;
    }
}