.top-bar {
    width: 100%;
    background: #000;
    border-bottom: solid 1px #ffff00;
    padding: 5px 15px;
    font-size: 15px;
    align-items: center;
    display: flex;
    flex: none;
    height: var(--header-height);
    color: #ffff00;

    a {
        text-decoration: none;
        color: #ffff00;

        &:hover {
            text-decoration: underline;
        }
    }
}